/*Font families used in the site..........

font-family: 'PT Sans', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;

.................................................*/



/**Common for all pages*/



html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}


body {
  background-image: url("../images/beige-paper.png");
  background-color: #FFC8C8;
  font-family: 'PT Sans', sans-serif;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}


/*header file*/
header .container {
  height: auto;
}


/*index.html*/

@media (min-width: 768px) {
  .col-sm-6 {
    width: 50%;
  }
}

@media (min-width: 768px) {

  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
}

.container-title{
  font-family: 'PT Sans Narrow', sans-serif;
  text-decoration: underline;
}

/**Humans of GCT Card and Campus News Slider in HomePage**/
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #2caae1;
}

.owl-carousel .nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 20% !important;
}

@media screen and (min-width: 992px) {
  .owl-carousel .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 35% !important;
  }
}

@media screen and (max-width: 992px) {
  .owl-carousel .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 25% !important;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .owl-carousel .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 35% !important;
  }
}


.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.2;
}

.owl-carousel .prev-slide {
  background: url(nav-icon.png) no-repeat scroll 0 0;
  left: -10px;
}

.owl-carousel .next-slide {
  background: url(nav-icon.png) no-repeat scroll -24px 0px;
  right: -10px;
}

.owl-carousel .prev-slide:hover {
  background-position: 0px -53px;
}

.owl-carousel .next-slide:hover {
  background-position: -24px -53px;
}

.item {
  position: relative;
  background: black;
}

.campus-img-text {
  bottom: 0;
  left: 0;
  color: white;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  position: absolute;
}

.campus-img-overlay {
  opacity: 0.6;
}



.campus-img-text .date-info {
  font-size: 0.8rem;
  padding-top: auto;
  color: #FFC8C8;
}


@media screen and (max-width:990px){
.hog-img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 60%);
  color: white;
  text-align: center;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  opacity: 1;
}
.hog-img-overlay {
  opacity: 0.6;
}
}

@media screen and (min-width: 992px) {
  .hog-img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    opacity: 0;
  }

  .item:hover .hog-img-overlay {
    opacity: 0.6;
    transition-duration: 0.3s;
  }

  .item:hover .hog-img-text {
    opacity: 1;
    transition-duration: 0.3s;
  }

}

.hog-img-text .date-info {
  font-size: 0.8rem;
  padding-top: auto;
  color: #FFC8C8;
}



/*Campusnews.php page*/

.card-title{
  font-family: 'PT Sans Narrow', sans-serif; /*Applicable to hog.php <h2> element too*/
}



/*Humans of GCT page hog.html*/

/*#hogpagination .row .col-md-4 .hog-card:hover {
  -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}*/


#hogpagination .card{
	display: inline-block;
	width: 100%;
	max-width: 20rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s;
  border-radius: 0%;
}

#hogpagination .card .name{
  font-family: "PT Sans Narrow", sans-serif;
}



/*Campus News GCT*/

.card-decks .news {
  border: none;
  margin-bottom: 3rem;
}

.card-decks .news .card-body {

  padding: 0;
}



.card-decks .news .card-body .report-details {

  font-size: 0.8rem;
}



/* Insti, Opinion, AlumSpace, YourSpace */

.blog-group .blog-post {
  border: none;
}

/*Aperture Page*/
.newsletters .aperture-card{
  border: none;
  margin-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.aperture-card .btn-block{
  background-color: #FF9999;
  
}



/* Team */



/*Footer*/

footer{
  background: #FF9999;
    min-height: 320px;
    padding: 5% 5% 100px;
    position: relative;
}

footer small{
  position: absolute;
  bottom: 30px;
}

footer p a{
  display: inline-block;
  margin-top: 8px;
  font-weight: 500;
  font-size: 1.1rem;
  color: #000000;
}

footer p a.contact-link {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}

footer p a.contact-link:hover {
  color: inherit;
  border-bottom: 1px solid rgba(0,0,0,.2);
  text-decoration:none; 
  transition: 0.1s;
}

footer .social-icon-list{
  text-align:right;
}
footer .social-icon{
  color: #000000;
  widows: 150%;
  height:150%;
}
